@import './varibles.scss';

body {
background-color: $bg-color;
background-image: url('../img/bg.jpg');
}
  
* {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  margin: 0px;
  padding: 0px;
}
  
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .7em 0;
  border-bottom: solid 1px $primary-color;
  &__text{
      color: $primary-color;
  }
}

@media (max-width: 415px){
  .header{
    padding: 1em;
    &__text{
      text-align: right;
      padding: 0 0 0 2em;
    }
    &__brand{
      img{
        width: 120px;
      }
    }
  }
}