$primary-color: #E66D2F;
$primary-color-light: rgba(206, 131, 84, 0.1);
$primary-color-light-dark: rgba(255, 184, 139, 1);
$secundary-color: #474848;
$bg-color: #eff2fd;
$bg-color-2: #F4F1F2;
$titles: 30px;
$parragraf: 18px;